
body {
  font-family: "Raleway", sans-serif;
}
 
 .hero-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #222222
}

.hero-section .btn {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 0;
  background: transparent;
  border: 2px solid white;
  margin-top: 20px;
}

.hero-section .btn:hover {
  color: #ffffff;
}
  
.hero-section .btn .fa-arrow-right {
  padding-left: 10px;
  font-size: 17px;
}

.hero-section h2 {
  margin: 3px 0px;
  padding: 0px;
  font-size: 40px;
  font-weight: 300;
}

.green-text {
  color: #8BE017;
  font-weight: 400;
}

.content-title {
  color: white;
  position: absolute;
  text-align: center;
  width: 70%;
  top: 50vh;       
  transform: translate(0, -50%);
}

.content-title a {
  color: white;
}

.col- {
  padding-left: 0;
  padding-right:0;
}

.row {
  margin-left: 0;
  margin-right:0;
}

.container {
  width: 100%;
  max-width: none;
  padding: 0;
}

.about-section {
  margin: 100px auto 120px auto;
  width: 80%;
}

.about-section .emily-picture {
  height: 250px;
  margin: auto;
  border-radius: 50%
}

.about-section .icon {
  text-align: center;
  font-size: 90px;
  color: #8BE017;
}

.about-section .icon-group {
  text-align: center;
}

.about-section .icon-label {
  font-size: 20px;
  font-weight: 600;
  color: #4E4E4E;
  display: block;
  margin-top: 15px;
}

.about-section .about-me-label {
  margin-top: 35px;
}

.about-section .icon-text {
  text-align: center;
  width: 150px;
  margin: auto;
}

.about-section .emily-picture-group {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.about-section .about-me-text {
  text-align: justify;
  margin: auto;
}

.about-section .frontend-backend {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  margin: 30px 10px 0px 0px;
}

.about-section .skills {
  width: 100%;
}

.about-section .skills-row-2 {
  display: none;
}

.project-section {
  background: #F5EDFF;
  padding: 60px 0px 60px 0px;
}

.project-section .title-row {
  text-align: center;
  color: #4E4E4E;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-section .underline {
  height: 4px;
  width: 120px;
  background-color: #4E4E4E;
  margin: 0px auto;
}

.project-section .leery-row {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  width: 80%;
}

.project-section .leery-screenshot {
  width: 50%;
  box-shadow: 3px 3px 15px 0 #b3bdbf;
  margin-right: 100px;
  min-width: 500px;
}

.project-section .leery-text {
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 40%
}

.project-section .leery-logo {
  width: 200px;
  margin-bottom: 30px;
}

.project-section .leery-headline {
  font-size: 25px;
}

.project-section .leery-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  margin-top: 40px;
}

.leery-buttons a:hover {
  text-decoration: none;
}

.leery-buttons p {
  margin: 0px;
}

.leery-buttons .leery-case-study, .leery-buttons .leery-try {
  width: 160px;
  height: 60px;
  background-color: #8BE017;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.leery-buttons .leery-try {
  background-color: white;
  margin-left: 40px;
}

.leery-buttons .leery-try p {
  color: black;
}

.project-section .other-projects-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px auto 0px auto;
  width: 80%;
}

.project-screenshot {
  position:relative;
  margin: 20px;
  width: 350px;
  height: 200px;
  box-shadow: 3px 3px 15px 0 #b3bdbf;
}

.project-screenshot img {
  width:100%;
  height: 100%;
  vertical-align:top;
}

.project-screenshot:after, .project-screenshot:before {
  position:absolute;
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.project-screenshot:after {
  content:'\A';
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
}

.project-screenshot:before {
  white-space: pre;
  width: 100%;
  color: white;
  font-size: 20px;
  z-index: 1;
  padding:4px 10px;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.project-screenshot:hover:after, .project-screenshot:hover:before {
  opacity:1;
}

.avengers-screenshot:before {
  content: '\A Avengers App \A\A Node.js, Express, MongoDB \A Hosted on: Heroku';
}

.burger-screenshot:before {
  content: 'Burger Builder \A\A React, Node.js, Firebase \A Hosted on: AWS using AWS Amplify \A\A Built as code-along to Udemy React \A course';
}

.toast-screenshot:before {
  content: '\A Toast-Matic \A\A Object Oriented Programming \A Hosted on: AWS using an S3 bucket';
}

.contact-section {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 200px 0px;
}

.contact-section .contact-content {
  padding: 0px;
}

.contact-section a {
  color: white;
}

.contact-prompt, .email {
  margin-bottom: 30px;
}

.contact-section .contact-prompt {
  font-size: 30px;
}

.contact-section .email {
  color: white;
  font-size: 20px;
}

.contact-section .contact-icons {
  width: 200px;
  margin: 0px auto;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-section .triangle {
  border-top: 60px solid #F5EDFF;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  bottom: -40px;
  margin-bottom: 200px;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.lines {
  opacity: 0.05; 
}

.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4C3A90; 
}

.lights {
  opacity: 0.9;
}

.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #7A6BB5; 
}

.fa-arrow-right {
  transition: transform .3s;
}

.view-work-btn:hover > .fa-arrow-right {
  transform: rotate(90deg) translateX(-3px);
}

@media (max-width: 1440px) {
  .project-section .leery-logo {
    width: 150px;
  }
  
  .project-section .leery-text {
    font-size: 16px;
  }
  
  .project-section .leery-headline {
    font-size: 20px;
  }
  
  .leery-buttons .leery-case-study, .leery-buttons .leery-try {
    width: 140px;
    height: 40px;
  }
  
  .project-screenshot {
    position:relative;
    width: 300px;
    height: 150px;
    box-shadow: 3px 3px 15px 0 #b3bdbf;
  }
  
  .project-screenshot:before {
    font-size: 16px;
  }

  .burger-screenshot:before {
    content: 'Burger Builder \A\A React, Node.js, Firebase \A Hosted on: AWS using AWS Amplify \A Built as code-along to Udemy React \A course';
  }
  
  .project-section .leery-screenshot {
    width: 55%;
  }
  
  .project-section .leery-row, .project-section .other-projects-row {
    width: 100%;
    padding: 50px 20px;
  }
  
  .project-section .other-projects-row {
    margin-top: 30px;
  }
  
}

@media (max-width: 1350px) {
  .about-section .skills-row-1 {
    display: none;
  }
  
  .about-section .skills-row-2 {
    display: block;
  }
  
  .about-section .skills {
    width: 60%;
  }
  
  .about-section .emily-picture-group {
    margin-top: 90px;
  }
  
  .about-section {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
  }
  
  .about-section .icon {
    font-size: 70px;
  }
}

@media (max-width: 991px) {
  .about-section .skills {
    width: 70%;
  }
  
  .about-section .icon {
    font-size: 90px;
  }
  
  .about-section {
    padding: 0px 50px;
  }
  
  .about-section .icon-row {
    display: flex;
    justify-content: space-between;
  }
  
  .about-section .emily-picture-group {
    margin-top: 30px;
  }
  
  .about-section .about-me-text {
    text-align: center;
  }
  
  .project-section .leery-screenshot {
    margin-right: 50px;
  }
  
  .leery-buttons .leery-try {
    margin-left: 20px;
  }
  
  .project-section .leery-text {
    font-size: 14px;
  }
  
  .project-section .leery-logo {
    margin-bottom: 15px;
  }
  
  .project-section .leery-buttons {
    margin-top: 15px;
  }
  
  .project-section .other-projects-row {
    margin-top: 0px;
    padding: 0px 0px;
  }
  
  .contact-section {
    padding-bottom: 100px;
  }
  
  .contact-section .triangle {
    margin-bottom: 100px;
  }

}

@media (max-width: 900px) {
  .project-section .leery-row {
    flex-direction: column;
  }
  
  .project-section .leery-screenshot {
    margin: 0px;
  }
  
  .project-section .leery-text {
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }
  
  .project-section .leery-buttons {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .about-section .icon-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-section .skills {
    width: 90%;
  }
}

@media (max-width: 560px) {
  .about-section {
    padding: 10px;
  }
}
